<div class="main">

  <div class="override-outer" id="outer_container">
    <div class="override-box" id="overrideBox">
        <span >OVERRIDE</span>
        <label class="switch switch-label">
          <input type="checkbox">
          <span class="slider round" (click)="overrideClick()" *ngIf="!overrideDis"></span>
        </label>
    </div>
    <div class="switch-outer" id="switchOne">
      <div class="color-parent">
        <div class="color-box" id="textOne" [ngStyle]="redStatus ? {'background-color': 'red'} : {'background-color': 'white'} "></div>
      </div>
      <span *ngIf="!redDis">Red</span>
      <label class="switch switch-label">
        <input type="checkbox" [disabled]="redDis" id="redSlider">
        <span class="slider round" (click)="redClick(this)" *ngIf="!redDis"></span>
      </label>
    </div>
    <div class="switch-outer" id="switchtwo">
      <div class="color-parent">
        <div class="color-box" id="textTwo" [ngStyle]="yellowStatus ? {'background-color': 'yellow'} : {'background-color': 'white'} "></div>
     </div>
     <span *ngIf="!yellowDis">Yellow</span>
      <label class="switch switch-label">
       <input type="checkbox" [disabled]="yellowDis" id="yellowSlider">
       <span class="slider round" (click)="yellowClick()" *ngIf="!yellowDis"></span>
     </label>
    </div>
    <div class="switch-outer" id="switchthree">
      <div class="color-parent">
        <div class="color-box" id="textThree" [ngStyle]="greenStatus ? {'background-color': 'green'} : {'background-color': 'white'} "></div>
      </div>
      <span *ngIf="!greenDis">Green</span>
      <label class="switch switch-label">
        <input type="checkbox" [disabled]="greenDis" id="greenSlider">
        <span class="slider round" (click)="greenClick()" *ngIf="!greenDis"></span>
      </label>
    </div>
  </div>

  <div id="sideDiv" class="senson-text">
    <span class="font-20">
      UltraSonic Sensor Reading
    </span>
    <br><br>
    <span id="sensorReading" class="sensor-display" *ngIf="sensorDistance > 0">
      {{sensorDistance}}
    </span>
  </div>
</div>
